/node_modules
package-lock.json

/my-dapp/node_modules
/my-dapp/.pnp
/my-dapp.pnp.js

/my-dapp/coverage

/my-dapp/.next/
/my-dapp/out/

/my-dapp/build

/my-dapp/.DS_Store
/my-dapp/*.pem

/my-dapp/npm-debug.log*
/my-dapp/yarn-debug.log*
/my-dapp/yarn-error.log*
/my-dapp/.pnpm-debug.log*

/my-dapp/.env*.local

/my-dapp/.vercel
